/* Author: Krizel T and Maggie M */
/* Date: 12/8/2021 */
/* This file is the stylesheet I used to style my shopping cart */ 
/* Modified from W3 schools sample invoice css template */

.completePurchasediv {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  input {
  text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Shipping Policy */
  .policy {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: hidden;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Table for invoice */
  table {
    background-color: rgba(255, 255, 255, 0.925);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  /* Image/Text Header */
  .hdrtxt {
    background-color: rgba(255, 255, 255, 0.925);
  }
  
  /* Image header */
  .imghdr {
    border-style: double;
    border-width: 2px;
  }
  
  /* Quantity text box */
  .qtytxtbox {
    text-align: center;
    border-left: 1px;
    border-right: 1px;
    background-color: rgba(255, 255, 255, 0.37);
  }
  
  /* Total Items */
  .totalitms {
    border-style: hidden;
  }
  /* General */
  body {
      width: 800px;
      margin: 0 auto;
      background-image: url("../images/background.png");
      background-repeat: repeat;
      background-position: center;
      background-size: auto;
  }
  /* Typography */   
  h1,h2,h3,h4 {
      text-align: center;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }
  
  /* Form styling */
  main {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      color: black;
  }    
  /* Styling the products display */
  .item img {
      width: 300px;
      height: auto;
  }
  
  /* Shadow when user hovers over item */
  .item:hover {
    box-shadow: 0 0 5px 1px black;
  }
  
  
  /* add one/ remove one from cart: https://codepen.io/mtbroomell/pen/yNwwdv */
    .value-button {
      display: inline-block;
      border: 1px solid #ddd;
      margin: 0px;
      width: 40px;
      height: 20px;
      text-align: center;
      vertical-align: middle;
      padding: 11px 0;
      background: #eee;
    }
  
    /* arrange product pictures */
    section {
      width: 300%;
      margin: 5px;
      background-color: white;
      height: auto;
    }
  
    input[type=button] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-color: rgb(145, 245, 145);
    }
  
    input[type=submit] {
      width: 25%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-color: rgb(212, 180, 150);
    }
  
    button:hover {
      opacity: 0.8;
    }