/* Author: Kimberly Matutina */
/* Date: 05/13/2021 */
/* This file is the stylesheet I used to style my login */ 
/* Borrowed and modified css from w3 schools https://www.w3schools.com/howto/howto_css_login_form.asp */

/* General */
body {
    width: 800px;
    margin: 0 auto;
    background-image: url("../images/background.png");
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Bordered form */
  form {
      border: 3px solid #f1f1f1;
    }
    
    /* Full-width inputs */
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    /* Set a style for all buttons */
    button {
      background-color: rgb(145, 245, 145);
      color: rgb(0, 0, 0);
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    
    /* Add a hover effect for buttons */
    button:hover {
      opacity: 0.8;
    }
    
  
    
    /* Center image inside this container */
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
    }
    
    img.avatar {
      width: 40%;
      border-radius: 50%;
    }
    
    /* Add padding to containers */
    .container {
      padding: 16px;
    }
    
  
    /* Set a grey background color and center the text of the "register" section */
  .register {
    text-align: center;
  }