/* Author: Krizel Tomines */
/* Date: 05/13/2021 */
/* Borrowed and modified code from Youtube Video  */
/* This file is the stylesheet I used to style my products display pages */ 
/* Some styling choices taken from SmartPhoneProducts3 & Invoice 4, but adjusted to my liking */

/* GENERAL */
.completePurchase {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* SHIPPING POLICY */
.policy {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: hidden;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* INVOICE TABLE */
table {
  background-color: rgba(255, 255, 255, 0.925);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* IMAGE & TEXT HEADER */
.hdrtxt {
  background-color: rgba(255, 255, 255, 0.925);
}
.imghdr {
  border-style: double;
  border-width: 2px;
}

/* QTY TEXT BOX */
.qtytxtbox {
  text-align: center;
  border-left: 1px;
  border-right: 1px;
  background-color: rgba(255, 255, 255, 0.37);
}

/* TOTAL ITEMS */
.totalitms {
  border-style: hidden;
}

/* GENERAL */
body {
    width: 800px;
    margin: 0 auto;
    background-color: oldlace;
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
}

/* TYPOGRAPHY */   
h1,h2,h3,h4 {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
/* BLOCK STYLING */
body > div {
    border: 5px solid black;
    display: flex;
}

/* FORM STYLING */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: black;
}    

/* PRODUCTS DISPLAY STYLING */
.item img {
    width: 300px;
    height: auto;
}

/* HOVER */
.item:hover {
  box-shadow: 0 0 5px 1px black;
}


/* FORM STYLING */
form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }
  

/* BUTTONS TO ADD/REMOVE QTYS */
/* Borrowed & Modified from Codepen.io: Mt Bromell  */
   .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
  }

  /* STYLE PRODUCTS */
  section {
    width: 300%;
    margin: 5px;
    background-color: white;
    height: auto;
  }
  @keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}